extends layout

block content
  fieldset
    legend 로그인
    form(action='/main' method='post')
      label 아이디 : 
      div: input(name='userid', type='text')
      legend 언어
      label 한국어
      input(type='radio', value="ko", checked="checked", name='lang') 
      label 일본어
      input(type='radio', value="ja", name='lang') 
      label 영어
      input(type='radio', value="en", name='lang') 
      div: button(type='submit') 로그인
  
