html
  head
    meta(charset='utf-8')
    style
      include room2.css
  section#Wrapper(style='margin-left: auto; margin-right: auto;')
    .wrapper.fadeInDown
      #formContent
        h2.active make Chat room!
        form(action='/room', method='post')
          div
            input#RoomName(name='title' type='text' placeholder='Room Name')
          div
            input#PassWord(name='password' type='password' placeholder='select input password')
          div 
            h5 define enter people   
              input#Max(name='max' type='number' placeholder='minimum 2' min='2' max='10' value='10' size='3')       
          br 
          button#MakeRoomButton(type='submit') make room 
  body
